html {
  --primary-color: #4ADB71;
  --bg-color: #4ADB71;
  --dark-color: #42C465;
  --dark-primary-color: #42C465;
  --main-bg-color: #fff;
  --dark-main-bg-color: #eee;
  --main-text-color: #000;
  --danger-color: #fc393e;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #333;
    --primary-color: rgb(42, 150, 71);
    --dark-primary-color: rgb(42, 150, 71);
    --dark-color: #2b2b2b;
    --main-bg-color: #444;
    --dark-main-bg-color: #333;
    --main-text-color: #fff;
    --danger-color: #ff4a50;
  }
}

.test-basic-info label {
  display: block;
  margin-top: .7rem;
  color: #000;
  font-size: 1.1rem;
}

.test-basic-info textarea {
  background: none;
  position: relative;
  display: block;
  width: 100%;
  max-width: 450px;
  caret-color: var(--dark-color);
  font-family: inherit;
  color: var(--main-text-color) !important;
  height: 140px;
  border: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 2px solid #ddd;
}

.test-basic-info textarea::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: #ddd;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
  z-index: 2;
}

.test-basic-info textarea::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 0;
  z-index: 3;
  background-color: var(--dark-primary-color);
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
}

.test-basic-info textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--dark-primary-color);
}

.test-basic-info textarea:focus:before {
  width: 100%;
}

.test-basic-info .info-group label {
  color: var(--main-text-color) !important;
}

.test-basic-info .info-group-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.2rem;
}

.test-basic-info .info-group-checkbox label {
  color: var(--main-text-color);
  margin-top: 0;
  margin-left: .5rem;
}

.test-basic-info .field {
  position: relative;
  display: inline-block;
  min-width: 200px;
  width: auto;
  padding: .3rem;
}

.test-basic-info .field::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: #ddd;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
  z-index: 2;
}

.test-basic-info .field::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 0;
  z-index: 3;
  background-color: var(--dark-primary-color);
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
}

.test-basic-info .field:focus {
  outline: none;
}

.test-basic-info .field:focus:before {
  width: 100%;
}

.test-basic-info .ans-card label {
  display: block;
  margin-left: 1.3rem;
}

.test-basic-info .ans-card .ans-letter {
  margin-left: 1rem;
}

.questions {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.questions .input {
  display: inline-block;
  min-width: 80px !important;
  padding: .2rem;
  position: relative;
  caret-color: var(--dark-primary-color);
}

.questions .input::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--dark-primary-color);
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
}

.questions .input:focus {
  outline: none;
}

.questions .input:focus:before {
  width: 90%;
}

.questions .question-card {
  position: relative;
}

.questions .question-card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 30px;
  left: -30px;
}

.questions .question-card > .btn-delete {
  position: absolute;
  left: -25px;
  top: 3px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: red;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.questions .question-card > .btn-delete span {
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  font-weight: 700;
}

.questions .question-card > .btn-delete:focus {
  outline: none;
}

.questions .question-card:hover > .btn-delete {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.questions .question-card .answers {
  margin-top: .6rem;
}

.questions .question-card .ans-card {
  position: relative;
  margin: .3rem 0 .3rem 0rem;
  padding-left: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions .question-card .ans-card .ans-letter {
  margin-left: 1rem;
}

.questions .question-card .ans-card .btn-delete {
  position: absolute;
  left: 0px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: red;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 0 !important;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions .question-card .ans-card .btn-delete span {
  display: block;
  position: absolute;
  top: -3px;
  font-weight: 700;
}

.questions .question-card .ans-card:hover .btn-delete {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.questions .add-question {
  margin-left: 3.6rem;
  height: 25px;
  width: 25px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0 !important;
  border: 1.5px solid var(--dark-primary-color);
  border-radius: 5px;
  background: none;
  color: var(--dark-primary-color);
  position: relative;
  text-align: center;
}

.questions .add-question span {
  position: absolute;
  top: -3px;
  font-weight: 700;
  left: 0;
  right: 0;
}

.questions .add-question:focus {
  outline: none;
}

.questions .new-question {
  border: 1.5px solid var(--dark-color);
  padding: .4rem 1.2rem;
  margin-top: 1.2rem;
  background-color: #fff;
  border-radius: .5rem;
  font-size: .9rem;
}

.questions .btn.btn-cta {
  margin-top: 0rem;
}

.custom-select {
  position: relative;
}

.select-items {
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--bg-color);
  color: #fff;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: var(--main-text-color);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent var(--dark-primary-color) transparent;
  cursor: pointer;
}

.select-selected {
  color: #fff;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: var(--dark-color);
  color: #fff !important;
}
/*# sourceMappingURL=style.css.map */