html {
  --primary-color: #4ADB71;
  --bg-color: #4ADB71;
  --dark-color: #42C465;
  --dark-primary-color: #42C465;
  --main-bg-color: #fff;
  --dark-main-bg-color: #eee;
  --main-text-color: #000;
  --danger-color: #fc393e;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #333;
    --primary-color: rgb(42, 150, 71);
    --dark-primary-color: rgb(42, 150, 71);
    --dark-color: #2b2b2b;
    --main-bg-color: #444;
    --dark-main-bg-color: #333;
    --main-text-color: #fff;
    --danger-color: #ff4a50;
  }
}

.test-card {
  color: var(--main-text-color) !important;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  color: #000;
  padding: .5rem .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.test-card .test-title {
  font-size: 1.3rem;
}

.test-card .test-date {
  margin-top: .6rem;
  color: #777;
}

.test-card .test-card-right {
  text-align: right;
  font-size: .9rem;
}

.test-card .test-card-right .test-subject {
  margin-bottom: .7rem;
}

.test-card .test-card-right .test-subject .subject {
  padding: .2rem .6rem;
  background-color: #ddd;
  color: #666;
  border-radius: .6rem;
}

.test-card .test-card-right .result-link {
  display: block;
  margin-top: .2rem;
  color: #888;
}

.test-card .test-card-right .result-link:hover {
  text-decoration: underline;
}

.field {
  position: relative;
  display: inline-block;
  min-width: 200px;
  width: auto;
  padding: .3rem;
}

.field::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 100%;
  background-color: #ddd;
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
  z-index: 2;
}

.field::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  width: 0;
  z-index: 3;
  background-color: var(--dark-primary-color);
  -webkit-transition: all .2s;
  transition: all .2s;
  top: calc(100% + 2px);
}

.field:focus {
  outline: none;
}

.field:focus:before {
  width: 100%;
}

.btn {
  display: block;
}

.results {
  margin-top: 1.3rem;
}

.results table {
  width: 100%;
  text-align: left;
}

.results table .resultTr:hover {
  background-color: rgba(var(--primary-color), 0.1);
}

.results table .points {
  width: 150px !important;
}

.results table td, .results table th {
  padding: 10px;
}

.results table td.points, .results table th.points {
  position: relative;
}

.results table td.points::before, .results table th.points::before {
  position: absolute;
  height: 80%;
  background-color: #ddd;
  content: '';
  width: 1.5px;
  left: -2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.results table th {
  font-size: 1.2rem;
  position: relative;
  text-align: center;
}

.results table th:hover {
  background-color: none !important;
}

.results table th::after {
  content: '';
  position: absolute;
  background-color: #ddd;
  height: 1.5px;
  width: calc(100% - 40px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: calc(100% + 2px);
}
/*# sourceMappingURL=style.css.map */